# These settings were set by the catalyst build script that automatically
# built this stage.
# Please consult /usr/share/portage/config/make.conf.example for a more
# detailed example.
CFLAGS="{{ gentoo_cflags }}"
CXXFLAGS="${CFLAGS}"

# NOTE: This stage was built with the bindist Use flag enabled
PORTDIR="{{ gentoo_portdir }}"
DISTDIR="{{ gentoo_distdir }}"
PKGDIR="{{ gentoo_pkgdir }}"

# This sets the language of build output to English.
# Please keep this setting intact when reporting bugs.
LC_MESSAGES=C

MAKEOPTS="-j{{ ansible_processor_cores }}"
GENTOO_MIRRORS="{{ gentoo_mirrors }}"
